html { 
	box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
	box-sizing: inherit; 
}

body {
	background-color: #f2f2f2;
	color: #000;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
}

img { 
	max-width: 100%;
}

a { 
	text-decoration: none;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.hidden {
	display: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font: inherit;
	text-decoration: none;
	border: none;
	box-shadow: none;
	text-transform: uppercase;
}

.header {
	position: relative;
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-nav li {
	width: 239px;
	padding: 15px 0;
}

.header-nav li:nth-child(-n + 2) {
	text-align: left;
	padding-left: 72px;
}

.header-nav li:nth-last-child(-n + 2) {
	text-align: right;
	padding-right: 72px;
}

.header-nav li:nth-child(3) {
	margin-left: auto;
}

.header-nav a {
	color: inherit;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.header-nav a:hover {
	color: #81b3d2;
}

.header-nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-nav .current {
	color: #766357;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -70px;
	margin-right: auto;
	width: 140px;
	height: 72px;
}

.header-logo__link {
	display: block;
	width: 100%;
	height: 100%;
}

.welcome {
	height: 508px;
	background-color: #c2d5e0;
	background-image: url("../img/welcome-back.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome img {
	display: block;
	width: 459px;
	margin: 0 auto;
	padding-top: 75px;
}

.advantages-block {
	width: 490px;
	margin: 0 auto;
	padding: 40px 0 36px;
	text-align: center;
}

.advantages-block .advantages-block__title {
	margin-bottom: 27px;
	font-family: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.advantages-block .advantages-block__text {
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.advantages-item {
	display: flex;
	flex-wrap: wrap;
	background-color: #eee;
	color: #333;
}

.advantages-item:first-child {
	order: -2;
}

.advantages-item:last-child {
	order: -1;
}

.advantages-item .advantages-item__block {
	width: 400px;
	min-height: 256px;
	padding: 25px 60px 40px;
	text-align: center;
}

.advantages-item__block .info__title {
	width: 151px;
	margin: 21px auto;
	color: #000;
	font-size: 21px;
	font-weight: 700;
	line-height: 22px;
}

.advantages-item__block .info__number {
	margin-bottom: 20px;
}

.advantages-item__block .info__number,
.advantages-item__block .info__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
}

.advantages-item--blue {
	background-color: #81b3d2;
	color: #fff;
}
.advantages-item--blue .advantages-item__block {
	padding: 25px 45px;
}

.advantages-item--blue .info__title {
	color: #fff;
}

.advantages-also {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.advantages-also .advantages-item__block {
	padding-top: 65px;
	padding-bottom: 65px;
	background-color: #fff;
}

.advantages-also .info-icon::before {
	display: block;
	margin: auto;
	width: 76px;
	height: 76px;
}

.advantages-also .info-icon--home::before {
	content: url("../img/icon-home.svg");
}

.advantages-also .info-icon--food::before {
	content: url("../img/icon-food.svg");
}

.advantages-also .info-icon--surprise::before {
	content: url("../img/icon-surprise.svg");
}

.registration__block {
	position: relative;
	width: 568px;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}

.registration__block h3 {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.registration__block .registration__block-desc {
	margin-bottom: 45px;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.registration__block .toggle-form-search {
	position: relative;
	width: 100%;
	padding: 30px 10px;
	background-color: #766357;
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	z-index: 4;
}

.registration .toggle-form-search:hover {
	background-color: #604e43;
}

.registration .toggle-form-search:active {
	background-color: #503e33;
	color: rgba(256, 256, 256, 0.3);
}

.registration .registration-form {
	position: absolute;
	display: none;
	flex-wrap: wrap;
	width: 568px;
	padding: 55px;
	background-color: #fff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	z-index: 3;
}

.registration .registration-form--show {
	display: flex;
	animation: bounce 0.6s;
}

.registration .registration-form--error {
	animation: shake 0.6s;
}

@keyframes bounce {
	0% {
		transform: translateY(-80px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.registration-form__field {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
	margin-bottom: 30px;
}

.registration-form__field .field__label,
.registration-form__field .field__input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	vertical-align: middle;
}

.registration-form__field .field__input {
	width: 346px;
	height: 38px;
	padding: 4px 10px;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: none;
	outline: none;
}

.registration-form__field .field__label {
	margin-right: auto;
	letter-spacing: 0.2px;
}

.registration-form__field .field__input::placeholder {
	color: inherit;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.registration-form__field .field__input:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;
}

.registration-form__field .field__input:focus {
	border-color: #e5e5e5;
	background-color: #ffffff;  
}

.registration-form__field .field__input[name*="date"] {
	padding-right: 35px;
}

.registration-form__field .field__button-open {
	cursor: pointer;
	position: absolute;
	top: 7px;
	right: 3px;
	display: block;
	font-size: 0;
	background-color: transparent;
}

.registration .registration__map {
	position: relative;
}

.registration .registration__map-frame {
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	z-index: 2;
}

.registration .registration__map-image {
	position: relative;
	z-index: 1;
}

.field__button-open svg {
	vertical-align: middle;
}

.field__button-open:hover svg {
	fill: #000;
}

.field__button-open:active svg {
	fill: #81b3d2;
}

.registration-form__field .field__input[name*="count"],
.registration-form__field .field__button {
	width: 38px;
	height: 38px;
	text-align: center;
	cursor: pointer;
}

.registration-form__field .field__button {
	background-color: #f2f2f2;
}

.registration-form__field .field__button::before {
	font-weight: 700;
	font-size: 23px;
	vertical-align: middle;
	color: #a9a9a9;
}

.registration-form__field .field__button:hover::before {
	color: #000;
}

.registration-form__field .field__button:active::before {
	color: #81b3d2;
}

.registration-form__field .field__button-plus::before {
	content: "\002B";
}

.registration-form__field .field__button-minus::before {
	content: "\2212";
}

.field--adults {
	width: 226px;
}

.field--kids {
	width: 39%;
	margin-left: auto;
}

.registration-form .registration-form__button {
	width: 458px;
	margin-top: 23px;
	padding: 17px 10px;
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	background-color: #81b3d2;
}

.registration-form .registration-form__button:hover {
	background-color: #669ec0;
}

.registration-form .registration-form__button:active {
	background-color: #5496bd;
	color: rgba(256, 256, 256, 0.3);
}

.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: rgba(256, 256, 256, 0.9);
	padding: 30px 0;
}

.footer.bottom--absolute {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 10;
}

.footer-contact,
.social-links,
.footer-creator {
	width: 400px;
	text-align: center;
}

.footer-contact {
	padding-left: 72px;
}

.footer--hotels .footer-contact {
	padding-left: 82px;
}

.footer-contact address {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-style: normal;
}

.footer-contact p,
.footer-contact a {
	text-align: left;
	margin: 0;
	color: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 29px;
}

.footer-contact a {
	line-height: 38px;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.social-links .social-links__link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	margin: 0 6px 6px 0;
	color: #fff;
	background-color: #81b3d2;
}

.social-links .social-links__link:hover {
	background-color: #669ec0;
}

.social-links .social-links__link:active {
	background-color: #5496bd;
	color: rgba(256, 256, 256, 0.3);
}

.social-links .social-links__link:active svg {
	fill: rgba(256, 256, 256, 0.3);
}

.footer-creator {
	margin-bottom: 6px;
}

.footer-creator p {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-right: 4px;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

.footer-creator__logo {
	display: inline-block;
	vertical-align: middle;
	color: inherit;
}

.footer-creator__logo:hover svg {
	fill: #81b3d2;
}

.footer-creator__logo:active svg {
	fill: rgba(0, 0, 0, 0.3);
}

.filters {
	background-color: #766357;
	background-image: url("../img/hotel-filter.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.filters form {
	display: flex;
	flex-wrap: wrap;
	padding: 25px 72px 30px;
	color: #fff;
}

.filters-field {
	margin: 0;
	margin-right: 118px;
	padding: 0;
	border: none;
}

.filters-field legend {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
}

.filters-field:last-child {
	width: 325px;
	margin-left: auto;
	margin-right: 0;
}

.filters-field:last-child legend {
	margin-left: 8px;
}

.filters-field__block {
	position: relative;
	margin-top: 16px;
	margin-bottom: 22px;
}

.filters-field__blocks {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filters-field__block:last-child {
	margin-bottom: 0;
}

.filters-field input,
.filters-field label {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.filters-field__checkbox + label {
	cursor: pointer;
}

.filters-field__checkbox + label:hover,
.filters-field__checkbox:focus + label {
	opacity: 0.8;
}

.filters-field__checkbox:focus + label {
	outline: auto;
}

.filters-field__checkbox + label::before {
	content: url(../img/checkbox-off.svg);
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
	width: 27px;
	height: 23px;
}

.filters-field__checkbox:checked + label::before {
	content: url("../img/checkbox-on.svg");
}

.filters-field__checkbox:disabled + label,
.filters-field__checkbox:disabled:checked + label {
	opacity: 0.25;
}

.filters-field__block-numbers {
	font-size: 0;
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	margin-top: 0;
	margin-left: 8px;
	border: 2px solid #fff;
	border-radius: 2px;
}

.filters-field__number {
	width: 50%;
	height: 100%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	box-shadow: none;
	outline: none;
	-moz-appearance: textfield;
}

.filters-field__number::-webkit-inner-spin-button, 
.filters-field__number::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

.filters-field__number::placeholder {
	color: #fff;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.filters-field__number::-webkit-input-placeholder {
	color: #fff;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.filters-field__number::-moz-placeholder {
	opacity: 1;
}

.filters-field__number::-ms-input-placeholder {
	color: #fff;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.filters-field__number:-ms-input-placeholder {
	color: #fff;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
}

.filters-field__block-numbers::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background-color: #fff;
	transform: translate(-50%, -50%);
}

.filters-field__block-range {
	margin-bottom: 32px;
	margin-left: 8px;
}

.filters-field__block-range .range__scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}

.filters-field__block-range .range__bar {
	width: 80%;
	height: 2px;
	background-color: #fff;
}

.filters-field__block-range .range__toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-sizing: content-box;
	cursor: pointer;
}

.filters-field__block-range .range__toggle:hover,
.filters-field__block-range .range__toggle:focus {
	transform: scale(1.1);
}

.filters-field__block-range .range__toggle-min {
	left: 0;
}

.filters-field__block-range .range__toggle-max {
	left: 80%;
}

.filters .filters__button {
	display: block;
	width: 138px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 2px;
	background-color: transparent;
	color: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	border: 2px solid #fff;
}

.filters .filters__button:hover,
.filters .filters__button:active,
.filters .filters__button:focus {
	background-color: #fff;
	color: #000;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding: 9px 72px;
}

.sorting__block {
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
}

.sorting .sorting__result {
	margin-right: 48px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.sorting .sorting__text {
	margin-right: 35px;
}

.sorting__block .sorting__link {
	margin-right: 30px;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
	color: rgba(0, 0, 0, 0.3);
}

.sorting__block .sorting__link--current {
	color: #81b3d2;
	border-bottom: none;
}

.sorting__block .sorting__link:hover {
	border-bottom-color: #81b3d2;
	color: #81b3d2;
}

.sorting__block .sorting__link:active {
	color: #000;
	border-bottom: none;
}

.sorting__type {
	margin-left: auto;
}

.sorting__type-link {
	margin-left: 8px;
}

.sorting__type-link.current svg {
	fill: #81b3d2;
}

.sorting__type-link:hover svg {
	fill: #231f20;
}

.sorting__type-link:active svg {
	fill: #81b3d2;
}

.hotel__list {
	list-style: none;
	margin: 0;
	padding: 0;
} 

.hotel__item {
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.item-hotel {
	display: flex;
	flex-wrap: wrap;
}

.item-hotel__info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	max-width: 750px;
	margin: 0 30px;
}

.item-hotel .info-hotel__name {
	color: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 16px;
}

.item-hotel .info-hotel__name:hover {
	color: #81b3d2;
}

.item-hotel .info-hotel__name:active {
	color: rgba(0, 0, 0, 0.3);
}

.item-hotel .info-hotel__features {
	margin: 5px 0;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.info-hotel__features span {
	display: inline-block;
	vertical-align: middle;
	width: 110px;
	margin-right: 2px;
}

.info-hotel__links .button {
	padding: 5px 17px;
	margin-right: 2px;
}

.info-hotel .info-hotel__links-detail {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 28px;
	background-color: #81b3d2;
}

.info-hotel .info-hotel__links-detail:hover {
	background-color: #669ec0;
}

.info-hotel .info-hotel__links-detail:active {
	background-color: #5496bd;
	color: rgba(256, 256, 256, 0.3);
}

.info-hotel .info-hotel__links-reserve {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	background-color: #766357;
}

.info-hotel .info-hotel__links-reserve:hover {
	background-color: #604e43;
}

.info-hotel .info-hotel__links-reserve:active {
	background-color: #503e33;
	color: rgba(256, 256, 256, 0.3);
}

.item-hotel__rating {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin-left: auto;
}

.item-hotel__rating-stars span {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 17px;
	margin-left: 2px;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right;
}

.item-hotel__rating .item-hotel__rating-count {
	margin: 0;
	padding: 3px 14px;
	color: #666;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	background-color: #f2f2f2;
}